name: Pack Releases

on:
  workflow_dispatch:
    inputs:
      version:
        description: 版本号 (不带v)
        required: true
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  auto-pack-releases:
    runs-on: windows-2022
    steps:
      - name: 处理版本号
        shell: pwsh
        run: |
          if ($env:GITHUB_EVENT_NAME -eq "workflow_dispatch") {
            $version = "${{ github.event.inputs.version }}"
            # 如果版本号以 v 开头，则去掉 v
            if ($version.StartsWith("v")) {
              $version = $version.Substring(1)
            }
          } else {
            $version = "${{ github.ref_name }}"
            # 如果版本号以 refs/tags/ 开头，则去掉 refs/tags/
            if ($version.StartsWith("refs/tags/")) {
              $version = $version.Substring(10)
            }
            # 如果版本号以 v 开头，则去掉 v
            if ($version.StartsWith("v")) {
              $version = $version.Substring(1)
            }
          }
          Write-Host "Version: $version"
          # 将版本号写入环境变量
          Write-Output "VERSION=$version" | Out-File $env:GITHUB_ENV -Append

      - name: 检出代码
        uses: actions/checkout@v6.0.1

      - name: 配置 Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: 3.x

      - name: 更新版本号
        env:
          PYTHONIOENCODING: utf-8
        # 前面已经配置过 Python 了，这个脚本只用 os 和 sys 这两个标准库，不用再装依赖
        run: |
          python "自动化脚本/修改版本号.py" "${{ env.VERSION }}"

      - name: 整理文件
        shell: pwsh
        run: |
          Copy-Item -Recurse -Verbose -Path "src" -Destination "src-pack"
          Remove-Item -Verbose -Path "src-pack\Script\ffdev.ps1"

      - name: 克隆主仓库
        run: |
          git clone https://github.com/DuckDuckStudio/Fufu_Tools.git

      - name: 安装依赖
        # 包括开发工具包与打包工具的依赖
        shell: pwsh
        run: |
          pip install -r requirements.txt
          pip install pyinstaller
          pip list
          Write-Host ========================================
          $upx_url = (Invoke-WebRequest -Uri https://api.github.com/repos/upx/upx/releases/latest).Content | ConvertFrom-Json | Select-Object -ExpandProperty assets | Where-Object { $_.name -like "*win64.zip" } | Select-Object -ExpandProperty browser_download_url
          Write-Host "[INFO] Latest UPX download URL: $upx_url"
          Invoke-WebRequest -Uri $upx_url -OutFile "upx-latest.zip"
          7z x "upx-latest.zip" -o"."

      - name: 构建发行版
        # 打包 > 压缩
        env:
          PYTHONIOENCODING: utf-8
        shell: pwsh
        run: |
          python "自动化脚本/Auto-Pack-Pyinstaller.py"
          Write-Host "========================================"
          New-Item -ItemType Directory -Path "Release"
          7z a "Release\Fufu_Tools_Dev_Tools_${{ env.VERSION }}_src.zip" "src"
          7z a "Release\Fufu_Tools_Dev_Tools_${{ env.VERSION }}_src.7z" "src"
          7z a "Release\Fufu_Tools_Dev_Tools_${{ env.VERSION }}.zip" "src-pack"
          7z a "Release\Fufu_Tools_Dev_Tools_${{ env.VERSION }}.7z" "src-pack"
          Copy-Item "packaging_log.log" -Destination "Release\打包日志.log"
          Copy-Item "LICENSE" -Destination "Release\LICENSE"
          Write-Host "========================================"
          tree /a /f
          Write-Host "========================================"
          Invoke-WebRequest -Uri "https://raw.githubusercontent.com/jrsoftware/issrc/main/Files/Languages/Unofficial/ChineseSimplified.isl" -OutFile "C:\Program Files (x86)\Inno Setup 6\Languages\ChineseSimplified.isl"
          iscc "pack.iss"

      - name: 上传构建文件
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/upload-artifact@v5
        with:
          name: Release
          path: Release\**

      - name: 发布至发行版
        if: ${{ github.event_name != 'workflow_dispatch' }}
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: |
            Release/Fufu_Dev_Tools_Setup_${{ env.VERSION }}.exe
            Release/Fufu_Tools_Dev_Tools_${{ env.VERSION }}.zip
            Release/Fufu_Tools_Dev_Tools_${{ env.VERSION }}.7z
            Release/Fufu_Tools_Dev_Tools_${{ env.VERSION }}_src.zip
            Release/Fufu_Tools_Dev_Tools_${{ env.VERSION }}_src.7z
